a {
    text-decoration: none;
}

.login {
    width: 100%;
}

.pin {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 10px;
}

.card-title {
    font-weight: normal;
    font-size: 15px;
}

.harga {
    font-weight: 600;
}

.boday {
    height: 115px;
}

.tinggi {
    box-shadow: 5px 5px 5px rgb(172, 172, 172) !important;
}

h1 {
    font-size: 30px;
}

@media (min-width: 768px) {
    .pin {
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }
}
