*,
p {
    padding: 0;
    margin: 0;
}
.item {
    color: #979595;
    font-size: 0.9rem;
}
.item-cart {
    flex: 1;
}
.summary {
    width: 320px;
}
@media (max-width: 768px) {
    .summary {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 0 -5px 5px -5px rgb(172, 172, 172) !important;
    }
    .detail-summary {
        display: none;
    }
    .res {
        background-color: white;
        max-height: 50px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .res button {
        max-width: 40%;
        max-height: 40px;
    }
    .resa {
        flex-direction: column;
    }
}
/* Responsive */
@media (max-width: 768px) {
    .login {
        width: 100%;
    }
}
