*,
p {
    padding: 0;
    margin: 0;
}
.item {
    color: #979595;
    font-size: 0.9rem;
}
.item-cart {
    flex: 1;
}
.summary {
    width: 320px;
}

/* Responsive */
@media (max-width: 768px) {
    .login {
        width: 100%;
    }
}
